!!!
%html
  %head
    %title Georefscraper Frontend
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  %body
    .container
      .page-header
        %h1 Georefscraper: Frontend Show-Reel and API Endpoint
        scraping geografic references from social network graphs.
      .lead
        This page shows persisted social network graphs, together with some scraped geo-references for their respective actors. The scrape results may vary in quality, since they were gathered automagically using various information extraction technologies from sources all over the internet.
      - @social_networks.each_with_index do |sn,i|
        %h2="Social Network ##{i+1}: #{sn[:name]}"
        %h3 Details
        %ul
          %li="Name: #{sn[:name]}"
          %li="Scraped at: #{sn[:created_at]}"
          %li="Number of Actors: #{sn[:actors].count}"
        - sn[:actors].each_with_index do |actor,j|
          %h3="Actor #{j+1}: #{actor[:label]} (#{actor[:class]})"
          %h4 Relationships to other actors
          %p In this social network, this actor is linked to the following other actors
          %ul
            - actor[:links].each do |linked_actor|
              %li="#{linked_actor[:label]}"

          %h4 Geographic Relations
          %table.table.table-striped
            %tr
              %th Left side of relation
              %th Relation Type
              %th Right side of Relation
              %th Citation
              %th Geographic Details
            - actor[:relations].each do |relation|
              %tr
                %td="#{relation[:eml_value]} (#{relation[:eml_type]})"
                %td=relation[:type]
                %td="<a href=\"https://nominatim.openstreetmap.org/search?output=html&bounded=1&polygon=1&limit=1&q=#{relation[:emr_value]}\">#{relation[:emr_value]}</a> (#{relation[:emr_type]})"
                %td
                  %a{href:"/georeference/v1/#{sn[:id]}/#{actor[:id]}"} Georeference Verification API
                %td
                  %a{href:"https://nominatim.openstreetmap.org/search?output=html&bounded=1&polygon=1&limit=1&q=#{relation[:emr_value]}"} Geocode

    %footer.footer
      Check the project's <a href="https://gitlab.com/hendrikb/georef_frontend_api">web site</a> for details. This page demonstrates the powers of the <a href="https://gitlab.com/hendrikb/georefscraper">Georefscraper Project</a> &copy; Hendrik Bergunde

